/* 기본 드롭다운 스타일 */
.category-link {
  display: inline-flex;
  align-items: center; /* 중앙 정렬을 위해 flexbox의 align-items 사용 */
  font-size: 1.5rem; /* 텍스트 크기 조정 */
}

.category-icon {
  font-size: 24px; /* 아이콘 크기 조정 */
  margin-right: 10px; /* 텍스트와의 간격 조정 */
}

.vote-btn-product-box {
  margin: 5px;
  font-size: 1.5rem; /* 버튼 크기 조절 */
}

.vote-count-product-box {
  font-size: 1.2rem;
  margin: 0 10px;
}

.gallery-link {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  visibility: hidden;
}

.swiper-slide:hover .gallery-link {
  visibility: visible;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

/* 호버 시 드롭다운 메뉴 활성화 */
.nav-item:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* 서브메뉴 위치 설정 */
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%; /* 부모 항목의 오른쪽 */
  margin-top: -1px;
  margin-left: 0;
}

.dropdown-item {
  position: relative;
}

.dropdown-menu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 0.1rem;
}

.dropdown-item a {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  content: "▶";
  transform: rotate(90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

/* 종속 드롭다운 스타일 */
.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* 메인 카테고리 메뉴 스타일 */
.navbar .dropdown-toggle {
  background: #000; /* 배경색 설정 */
  border: 1px solid #ddd; /* 경계선 설정 */
}

/* 모든 드롭다운 메뉴는 기본적으로 숨겨짐 */
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0; /* 초기 값 설정 */
  top: 100%; /* 부모 항목의 아래쪽 */
  min-width: 180px; /* 최소 너비 */
}

/* 서브메뉴 위치 설정 */
.nav-item.dropdown:hover > .dropdown-menu,
.dropdown-item:hover > .dropdown-menu {
  display: block;
}

.nav-item.dropdown .dropdown-submenu .dropdown-menu {
  left: 100%; /* 부모 항목의 오른쪽 */
  top: 0;
  margin-top: 0;
  margin-left: 0;
}
