/* 페이지 양쪽 공백 추가 */
#product-list-container {
  padding-left: 15px;
  padding-right: 15px;
}

/* 상품 카드 크기 조정 및 중앙 정렬 */
.product-card-3 {
  max-width: 180px; /* 카드 너비 조정 */
  margin: 10px auto; /* 중앙 정렬 및 간격 조정 */
}

.product-card-3 .product-card-image img {
  width: 100%; /* 이미지 너비 조정 */
  height: auto; /* 이미지 높이 자동 조정 */
}

.product-card-3 .product-card-info {
  text-align: center; /* 텍스트 중앙 정렬 */
}
